*{
box-sizing: border-box;
padding:0;
margin: 0;
}

.licuadora{
/* posicionamiento */
position: fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
/* Estilo */
min-width: 700px;
height: 500px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-image: url(../img/licuadoraApagada.png);
}

.licuadora-activa{
    background-image: url(../img/licuadoraEncendida.gif) 
}

.licuadora-boton{
 /* posicionamiento */
margin: 367px auto 0;
/* Estilo */
width:30px;
height: 50px;
/* border: 1px solid red; */
}